<ion-tabs class="tabs-wallet tabs-light tabs-top tabs-icon-top has-tabs-top">
  
  <ion-tab title="Balance" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/menu/tab/wallet/home">
    <ion-nav-view name="tab-wallet-home">Home</ion-nav-view>
  </ion-tab>

  <ion-tab title="Receive" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/menu/tab/wallet/receive">
    <ion-nav-view name="tab-wallet-receive">Receive</ion-nav-view>
  </ion-tab>

  <ion-tab title="Send" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"badge-style="badge-balanced" href="#/menu/tab/wallet/send">
    <ion-nav-view name="tab-wallet-send">Send</ion-nav-view>
  </ion-tab>

  <ion-tab title="History"  icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/menu/tab/wallet/history">
    <ion-nav-view name="tab-wallet-history">History</ion-nav-view>
  </ion-tab>

</ion-tabs>