[submodule "cots/muduo"]
	path = cots/muduo
	url = https://github.com/chenshuo/muduo.git
[submodule "cots/jsoncpp"]
	path = cots/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "cots/azure-storage-cpp"]
	path = cots/azure-storage-cpp
	url = https://github.com/Azure/azure-storage-cpp.git
