/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;

}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: rgba(0,128,196,35);
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-color: rgba(128,128,128,0);
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.make-border-trasparent{
  background-color: rgba(0, 0, 0, 0.0) !imporant;
  border: none;
  .bar.bar-light {
    background-color: rgba(0,0,0,0) !important;
  }
}

.logo-icon{
  width: 170px;
  margin: 30px auto;
}

.logotext{
  font-family: Courier;
  color: red;
  font-size:20px;
}