<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Wallet" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/app/tab/wallet">
        <ion-nav-view name="tab-wallet"></ion-nav-view>
    </ion-tab>

    <!--Favourites => Chat-->
    <ion-tab title="Chat" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/tab/chat/posts">
        <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>

    <!--Favourites => Traders-->
    <ion-tab title="Traders" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/app/tab/trader">
        <ion-nav-view name="tab-trader"></ion-nav-view>
    </ion-tab>

    <!--Journal => Rates-->
    <ion-tab title="Rates" icon-off="ion-social-bitcoin-outline" icon-on="ion-social-bitcoin" href="#/app/tab/rates/{{conf.current}}">
        <ion-nav-view name="tab-rates"></ion-nav-view>
    </ion-tab>
</ion-tabs>