<ion-view view-title="Register" name="register-view" ng-controller="RegisterCtrl">
  <ion-content class="padding">
    <div class="col-md-6 col-md-offset-3">

        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="data.firstname">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="data.lastname">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="User Name(email)" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </div>

        <div class="form-actions">
            <button class="button button-positive button-block" ng-click="register()">Register</button>
            <a href='#/menu/login' class='button-css'>Cancel</a>
        </div>

    </div>
  </ion-content>
</ion-view>
