

<ion-side-menus enable-menu-with-back-views="false">
<ion-side-menu-content>
        <ion-nav-bar class="bar-positive" >
          
          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="right">
            <button menu-toggle="right"
             class="button button-icon button-clear ion-gear-a">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Customization</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <li>
          <a class="item" menu-close nav-clear href="#/settings/preference">Preference</a>
        </li>
        <li>
          <a class="item" menu-close nav-clear href="#/settings/options">Options</a>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>

  </ion-side-menus>