
<ion-side-menus enable-menu-with-back-views="false" ng-controller="NavCtrl">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-gear-a" ng-click="showRightMenu()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right" name="menu-content" ></ion-nav-view>
  </ion-side-menu-content> 
  
  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">SmallNotes Jar</h1>
    </ion-header-bar>
    <ion-content >
      <ul class="list">
        <li>
          <a class="item" menu-close nav-clear href="#/">Tips on Everyday</a>
        </li>
        <li>
          <a class="item" menu-close nav-clear href="#/menu/login">User Login</a>
        </li>
        <li>
          <a class="item" menu-close href="#/menu/register">Register</a>
        </li>
        <li>
          <a class="item" menu-close ng-click="openHelp($event)">About</a>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">Customization</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <li>
          <a class="item" menu-close nav-clear href="#/settings/preference">Preference</a>
        </li>
        <li>
          <a class="item" menu-close nav-clear href="#/settings/customize">Options</a>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>