<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>

      <button class="button button-positive" ng-click="login()">Login</button>
      <a href="#/menu/register" class="button button-outline icon-right ion-navicon button-positive">Sign up?</a>
  </ion-content>
</ion-view>