<ion-tabs class="tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">

  <ion-tab title="Display" icon-on="ion-social-bitcoin" icon-off="ion-social-bitcoin-outline" href="#/app/tab/rates/view">
    <ion-nav-view name="tab-rates-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" href="#/app/tab/rates/history">
    <ion-nav-view name="tab-rates-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Currencies" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/app/tab/rates/currencies">
    <ion-nav-view name="tab-rates-currencies"></ion-nav-view>
  </ion-tab>

</ion-tabs>